@model Progetto_Settimana_2_Manuel.Models.PrenotazioneViewModel

@{
    ViewData["Title"] = "Crea Prenotazione";
}

<h2>Crea Prenotazione</h2>

<form asp-action="Create">
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Prenotazione</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="ClienteId" class="control-label">Cliente</label>
            <select asp-for="ClienteId" class="form-control" asp-items="@(new SelectList(Model.Clienti, "ID", "CodiceFiscale"))"></select>
            <span asp-validation-for="ClienteId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CameraId" class="control-label">Camera</label>
            <select asp-for="CameraId" class="form-control" asp-items="@(new SelectList(Model.Camere, "ID", "Numero"))"></select>
            <span asp-validation-for="CameraId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DataPrenotazione" class="control-label"></label>
            <input asp-for="DataPrenotazione" class="form-control" />
            <span asp-validation-for="DataPrenotazione" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PeriodoDal" class="control-label"></label>
            <input asp-for="PeriodoDal" class="form-control" />
            <span asp-validation-for="PeriodoDal" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PeriodoAl" class="control-label"></label>
            <input asp-for="PeriodoAl" class="form-control" />
            <span asp-validation-for="PeriodoAl" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CaparraConfirmatoria" class="control-label"></label>
            <select asp-for="CaparraConfirmatoria" class="form-control">
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            
            
            
            <span asp-validation-for="CaparraConfirmatoria" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TariffaApplicata" class="control-label"></label>
            <select asp-for="TariffaApplicata" class="form-control">
                <option value=350>350</option>
                <option value=600>600</option>
            </select>

            <span asp-validation-for="TariffaApplicata" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TipoSoggiorno" class="control-label"></label>
            <select asp-for="TipoSoggiorno" class="form-control">
                <option value="pernottamento con prima colazione">pernottamento con prima colazione</option>
                <option value="pensione completa">pensione completa</option>
            </select>
            
            <span asp-validation-for="TipoSoggiorno" class="text-danger"></span>
        </div>

        

        <div class="form-group">
            <input type="submit" value="Crea" class="btn btn-primary" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Torna alla lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
