

<ul>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Camere" asp-action="Index">Camere</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Servizi" asp-action="Index">Servizi</a>
</li>
</ul>