@model Progetto_Settimana_2_Manuel.Models.PrenotazioneServizio

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PrenotazioneServizio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="NumeroPrenotazione" class="control-label"></label>
                <input asp-for="NumeroPrenotazione" class="form-control" />
                <span asp-validation-for="NumeroPrenotazione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServizioID" class="control-label"></label>
                <input asp-for="ServizioID" class="form-control" />
                <span asp-validation-for="ServizioID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantita" class="control-label"></label>
                <input asp-for="Quantita" class="form-control" />
                <span asp-validation-for="Quantita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
